*{
    box-sizing: border-box;
}
body{
    font-size: 20px;
}

.menu {
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li{
        background-color: $menu-bg-color;
        color: $text-color;
        margin: 8px;
        padding: 8px;
        box-shadow: 5px 3px 3px grey;
    }
    li:hover{
        background-color: $menu-bg-color-hover;
    }

}

@mixin transform($property){
    -webkit-transform: $property; // libreria de Chrome 
    -moz-transform: $property; // libreria de Mozilla para ver como funciona las cosas
    -ms-transform: $property; // Microsoft Edge
    -o-transform: $property; // Opera
    transform: $property;
}
// vendor es el prefijo que interpreta las librerias de los navegadores
@mixin vendor($property, $value){
    -webkit-#{$property}: #{$value}; // libreria de Chrome 
    -moz-#{$property}:#{$value}; // libreria de Mozilla para ver como funciona las cosas
    -ms-#{$property}: #{$value}; // Microsoft Edge
    -o-#{$property}: #{$value}; // Opera
    #{$property}:#{$value};

}

.div{
    @include transform(rotate(180deg))

}
/*Comentario que si sale */ 
// este comentario no
div.hola{
    @include vendor('transform', 'rotate(90deg)');
    @include vendor('border-radius', '20%');
}


$num_columnas : 12;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$width_col : calc(100% / 8);

body {
  font: 100% $font-stack;
  color: $primary-color;
}

nav{

    width: 150px;

    ul{
        list-style: none;
    }

    li{
        font-size: 10px;

        a{
            text-decoration: none;
            font-family: 'Courier New', Courier, monospace;
        }
    }

}



@for $i from 1 through $num_columnas {
  .col-#{$i}{
      float: left;
      width: $width_col * $i;
      padding: 15px;
    }
  }
