$text-color: white;
$background-color: blue;
$menu-bg-color: #00b4d8;
$num_columnas : 12;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$width_col : calc(100% / 8);
$menu-bg-color-hover: darken($menu-bg-color, 20%);