$colR: 0;
$colG: 40;
$colB: 100;
$bgcolR: 50;
$bgcolG: 100;
$bgcolB: 0;

$colR2: 100;
$colG2: 100;
$colB2: 100;
$bgcolR2: 0;
$bgcolG2: 0;
$bgcolB2: 0;

$colR3: 50;
$colG3: 0;
$colB3: 0;
$bgcolR3: 0;
$bgcolG3: 50;
$bgcolB3: 0;

$colR4: 70;
$colG4: 20;
$colB4: 10;
$bgcolR4: 70;
$bgcolG4: 20;
$bgcolB4: 90;
