@import "partials/material";
@import "partials/vars";


.mdc-layout-grid__cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .mdc-button {
    width: 100%;
  }
  
 